.renterAccountForm {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
}

.add-fab {
    border-radius: 50% !important;
    background: #2e424d !important;
    color: white !important;
}

.add-fab:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}