/* --- DASHBOARD ---- */

.dashboard-data {
    display: flex;
}

.bar-chart {
    width: 35rem;
}

.most-rented-fields-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.most-rented-field-card {
    width: 30%;
    margin-bottom: 20px;
    position: relative;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .most-rented-fields-container {
        flex-direction: column;
    }

    .most-rented-field-card {
        width: 100%;
    }
}

.box_shadow {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.analytic-cards {
    height: calc(100vh - 15rem);
    overflow-y: auto;
    padding-bottom: 1rem;
}

canvas {
    margin-top: 2rem;
}